.portfolio {
    &-heading {
        flex: 0 0 100%;
        width: 100%;
        h2 {
            color: $text-black-900;
            font-weight: 500;
        }
    }
    .container {
        padding-bottom: 4rem;
    }
    &-item {
        flex: 1 1 50%;
        flex-wrap: wrap;
        gap: 1.5rem;
        max-width: 50%;
        margin-bottom: 3rem;
    }
    &-img {
        width: 100%;
        img {
            width: 100%;
            border: 1.2rem solid $bg-black-100;
            border-radius: 2rem;
        }
    }
    &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        h2 {
            color: $text-black-700;
        }
    }
}