
$bg-black-900: #f2f2fc;
$bg-black-100: #fdf9ff;
$bg-black-50: #e8efec;
$text-black-900: #302e4d;
$text-black-700: #504e70;
$box-shadow: 0 0 2rem rgba(48, 46, 77, 0.15);


// skin color
$skin-color: #ec1839;
.dark {
    $bg-black-900: #151515 ;
    $bg-black-100: #222222;
    $bg-black-50: #393939;
    $text-black-900: #ffffff;
    $text-black-700: #e9e9e9;
}
